body { background: #187b2b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 55px; display: flex; }
.block-database-0 { color: #80f11d; font-size: 18px; margin-bottom: 5px; }
.block-shipping-1 { color: #92f540; font-size: 16px; margin-bottom: 5px; }
.block-cart-2 { color: #f652a; font-size: 19px; margin-bottom: 5px; }
.block-sms-3 { color: #dcdf03; font-size: 13px; margin-bottom: 5px; }
.block-user-4 { color: #d6786d; font-size: 15px; margin-bottom: 5px; }
.block-config-5 { color: #80d6d4; font-size: 21px; margin-bottom: 5px; }
.block-uploader-6 { color: #cd8497; font-size: 21px; margin-bottom: 5px; }
.block-notify-7 { color: #385e0d; font-size: 16px; margin-bottom: 5px; }
.block-cart-8 { color: #cb8aae; font-size: 20px; margin-bottom: 5px; }